html { 
    background: url(https://images.pexels.com/photos/2228553/pexels-photo-2228553.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 70%;
  }

.hide{
    display: none;
}

.container {
    border-style: solid; 
    opacity: 60%;
}

